/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

#timer {
  text-align: center;
  font-size: 48px;
  margin: 10px 0;
  background-color: #000; /* Warna hitam */
  border-radius: 50%; /* Membuatnya bulat */
  width: 200px; /* Lebar bulatan */
  height: 200px; /* Tinggi bulatan */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.controls button:hover {
  transform: scale(1.1);
}

.spotify iframe {
  border-radius: 15px;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word; /* Membungkus teks yang panjang */
  overflow-wrap: break-word; /* Membungkus teks yang sangat panjang */
  word-break: break-word; /* Memastikan teks tidak meluap keluar kontainer */
}

#task-list li span {
  flex-grow: 1;
  margin-right: 10px;
  white-space: pre-line; /* Membungkus teks pada garis baru */
}

#task-list li button {
  margin-left: 5px;
}
